.ant-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .ant-modal-content {
    border-radius: 0.75rem;
    overflow: hidden;

    .ant-modal-close-x {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .ant-modal-body {
      max-height: 80vh;
      overflow: auto;
    }
  }
}
